<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <appSettings>
    <add key="Oracle" value="3cA0eXSD1xlREpo9308DY+5LPOIIcmTvvP0Oev3SH7lahXQRAJCuBpQcbwrd33HM+FaaFIlN9rc1LL94upvZUN1e3/+bsKmAD07LyN3Dd+YiLkfDezgdbeBpqyqTQAaZhC7ey/GYvVUpkgA75BAjZcKwjaRejcj3Rf9yxpRjh1I74Q+0QzcrFLw/M/LmKdmEqqQCNjVg2wFSPb6yVqz7kBfrp6SzICe3oHE3kK70v41Spxu8nyGPNQV8ENblKv1oO3UD6uq7cbyAEDIAtaUlh0ufwudrYzSeQOygdmJY7ohArVvZwZnQIAJikXJhDBP08MyxiPAqcw7quz2y6ZqC6h/I5TZ965xSA5lEcE975ncUwMFkCLT5w9L4AndJ91aP9MgkKsZf9RCaRH+ApCPnNIjwMTqUfN/39zWFtOC80yy289kusO0n5RTtsuWxGkmP"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>