<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Oracle" value="3cA0eXSD1xlREpo9308DY+5LPOIIcmTvFCkRi3xEQrUOqfybLe227KRZ5wYsbHA4wcudDaf3I2RpAILyKXvgYoeTksJwn1xyrUgUwGhkXt7cAgieqhAt+YPjLvWRPRMv4LKOssCDiARRKXouaM+GCH1dJX14WJg6Ei+415GtGUNTtRznLJ00QlAzLFh0e6mZw1eW6O0kLdcXeCg4feqDMl/9Il+MGU7+3uLGP0zFGfbw7gp/pxyAs2QqG17H3zEw/KvU7a3kDzcB+QHzKAWTUQ=="/>
    </appSettings>
</configuration>